#DivejAhuja
{
    height: 500px;
    width: 500px;
    background-color: aqua;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.-hiXtqIIoQp9qkMS7bpwIAHaEo&pid=Api&P=0&h=180");
    position: absolute;
}