div
{
    height: 100px;
    width: 2000px;
    background-color: black;
    display: flex;
    justify-content:space-around;
}
a
{
    text-decoration: none;
    color: aqua;
    background-color: brown;
}
li
{
 list-style-type: none;
display: inline;
}
.navbar
{
    display: flex;
    justify-content:stretch;
}